


<div class="container mt-5">
    <div class="row justify-content-center">
      <!-- Card Structure -->
      <div class="col-md-6 col-lg-4 col-sm-12">
        <div class="card card-custom">
          <div class="card-image">
            <img src="your-image.jpg" alt="Image">
          </div>
          <div class="card-body text-center">
            <h3>Title</h3>
            <h4>Subtitle</h4>
            <div class="card-date">
              <i class="fa fa-clock-o"></i> 10-09-2024
            </div>
            <div class="mt-3">
              <button class="btn btn-custom">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>









































<!-- basic  -->
<!-- 


<div class="container">
    <mat-grid-list cols="1" rowHeight="5:2" gutterSize="25">
        <mat-grid-tile *ngFor="let g of globalBpoModelDetails">
            <div class="container">
                <h1><b>title :</b> &nbsp; &nbsp; {{ g.title }}</h1>
                <hr />
                <h1><b>subtitle :</b> &nbsp; &nbsp; {{ g.subtitle }}</h1>
                <hr />
                <h1><b>Details :</b> &nbsp; &nbsp; {{ g.details }}</h1>



                <button mat-raised-button color="primary" (click)="detailsById(g.id)">
                    View
                </button>
                <button mat-raised-button color="primary" routerLink="/CareerView" routerLinkActive="active"> View Career </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->






<!-- practice  -->
 
<!-- 
<div class="product-list">





    <mat-card class="product-card" *ngFor="let prac of practice">
        <div class="product-image">
            <img [src]="prac.processedImg" alt="product-image">
        </div>
        <div class="product-details">
            <h2 class="product-name">{{ prac.title }}</h2>
  
            
            <p class="product-description">{{ prac.subtitle }}</p>
            <mat-divider></mat-divider>
            <div class="product-info">
                <div class="info-row">
                    <span class="info-label">Description:</span>
                    <span class="info-value"> {{ prac.description }}  </span>
                </div> 
                
             </div>
  
  
  
  
        </div>
    </mat-card>
  </div> -->
  
  
  








<!-- video  -->
<!-- <section >
<div class=" container-video">
    <h1 style=" font-size:xx-large ;" class="video-text" routerLink="/video" routerLinkActive="active"> Video</h1>
</div>
</section> -->


