




  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div *ngFor="let bpo of globalBPOs; " class="col">

        <div class="card h-100 shadow-sm p-3 bg-body rounded" (click)="getGlobalBPOById(bpo.id)">
          <img src="assets/komola.jpg" class="card-img-top" alt="test">
          <div class="card-body">
            <div class="card-date text-muted small">
              <i class="fa-regular fa-clock"></i> {{ bpo.postDate | date:'mediumDate' }}
            </div>
          <div class="font-weight-bold">
            <h3 class="card-title bol ">{{ bpo.title  | titlecase }}</h3>

          </div>


            <p class="card-text truncate-text">{{ bpo.subtitle }}</p>


          </div>
          <div class="card-footer">
            <a type="submit" (click)="getGlobalBPOById(bpo.id)" class="btn btn-outline-primary w-100">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

























<!-- basic  -->
<!-- 


<div class="container">
    <mat-grid-list cols="1" rowHeight="5:2" gutterSize="25">
        <mat-grid-tile *ngFor="let g of globalBpoModelDetails">
            <div class="container">
                <h1><b>title :</b> &nbsp; &nbsp; {{ g.title }}</h1>
                <hr />
                <h1><b>subtitle :</b> &nbsp; &nbsp; {{ g.subtitle }}</h1>
                <hr />
                <h1><b>Details :</b> &nbsp; &nbsp; {{ g.details }}</h1>



                <button mat-raised-button color="primary" (click)="detailsById(g.id)">
                    View
                </button>
                <button mat-raised-button color="primary" routerLink="/CareerView" routerLinkActive="active"> View Career </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->






<!-- practice  -->
 
<!-- 
<div class="product-list">





    <mat-card class="product-card" *ngFor="let prac of practice">
        <div class="product-image">
            <img [src]="prac.processedImg" alt="product-image">
        </div>
        <div class="product-details">
            <h2 class="product-name">{{ prac.title }}</h2>
  
            
            <p class="product-description">{{ prac.subtitle }}</p>
            <mat-divider></mat-divider>
            <div class="product-info">
                <div class="info-row">
                    <span class="info-label">Description:</span>
                    <span class="info-value"> {{ prac.description }}  </span>
                </div> 
                
             </div>
  
  
  
  
        </div>
    </mat-card>
  </div> -->
  
  
  








<!-- video  -->
<!-- <section >
<div class=" container-video">
    <h1 style=" font-size:xx-large ;" class="video-text" routerLink="/video" routerLinkActive="active"> Video</h1>
</div>
</section> -->


