


<!-- content  -->
<section>

    <div class="bg">
    
        <div class="row "></div>
    
        <div class="container py-5 ">
    
            <div class="card row-cols-1">
    
                <div class="center-image">
                    <img class="card-img-top" src="assets\photo\team\Obaidul-Bhai.jpg" alt="Title" />
    
                </div>
    
    
    
    
                <div class="card-body p-5 container" style="background-color: rgb(249, 249, 249);  border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    
                    <div style="font-family: Arial, sans-serif; ">
                        
                        <h2 style="font-size:3vw; text-align: center;">Md Obaidul Haque</h2>
                        <h2 style="text-align: center; color: grey;">
                            General Manager, Finance & Admin

                        </h2>
                        <br><br>

    
                        <div style="font-size:1vw">
    
                           
                            <p>
                                <strong>Md Obaidul Haque</strong>, an <strong>Ex-Army officer</strong>, began his distinguished career serving the Bangladesh Government from a young age. His disciplined approach and strong sense of responsibility have made him a valuable member of the FIFOTech team since he joined in 2018 as the <strong>Account Manager</strong>.
                            </p>
                            
                            <p>
                                Known for his <strong>punctuality</strong> and dedication, Obaidul has consistently maintained high standards in managing his responsibilities. His professionalism and reliability have made him a senior and respected member of the FIFOTech family.
                            </p>
                            
                            <p>
                                Since joining FIFOTech, Obaidul has played a crucial role in ensuring the financial and operational integrity of the company. His contributions have been key to the company's continued success, and his leadership continues to inspire his colleagues.
                            </p>
                            
                          
    
    
                        </div>
    
    
    
    
    
                    </div>
    
    
    
                </div>
            </div>
    
    
        </div>
    
    
    
    </div>
    
    
    </section>

