<!-- Row  1 of 6 -->

<div class="features-section py-5 bg">
  <div class="container">
    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Career Opportunity
    </h2>

    <div class="row g-5 pb-5">
      <div
        class="col-12 col-md-3 d-flex justify-content-center order-2 order-md-1"
      >
        <img
          src="assets\career-1.png"
          alt="Left Image"
          class="rounded-img img-fluid"
        />
      </div>

      <!-- text  -->

      <div class="col-12 col-md-6 text-center order-1 order-md-2">
        <div class="card px-3 py-4 shadow-sm blue-bg text-center">
          <h1 class="fs-1 lh-1 lh-sm fw-bolder">
            Be part of a team that's always innovating.
          </h1>
          <br />
          <div class="fs-6 lh-base">
            Join our team as a software engineer and experience a dynamic work
            environment with opportunities for growth. Be part of a passionate
            and cohesive team delivering innovative software solutions.
          </div>

          <button
            class="btn btn-primary px-5 py-3 mt-3 fs-5 fw-medium"
            type="button"
            routerLink="/contact"
            routerLinkActive="active"
          >
            Explore Job Openings
            <span style="align-items: center"
              ><mat-icon>open_in_new</mat-icon></span
            >
          </button>
        </div>
      </div>

      <div
        class="col-12 col-md-3 d-flex justify-content-center order-2 order-md-3"
      >
        <img
          src="assets\career-2.png"
          alt="Right Image"
          class="rounded-img img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<!-- Row  2 of 6 -->

<div class="py-5 bg-dark text-white">
  <div class="container">
    <h1 class="fs-1 fw-bold text-center pt-5 pb-1 " style="color: #F5F5F5;">
      Why Join Us?
    </h1>

    <p class="fs-6 px-5 pb-5 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur
      accusantium est qui iure accusamus laudantium, quibusdam laboriosam amet
      quo quod, cum, repellat sunt quisquam nobis? Rerum neque ad natus.
    </p>

    <div class="row g-4 pb-5">
      <div class="col-12 col-md-4 text-center order-1 order-md-1">
        <img
          src="assets\photo\aaaa.jpg"
          alt="Right Image"
          class="rounded-img"
        />
      </div>

      <!-- 1st column   -->

      <div
        class="col-12 col-md-4 justify-content-center order-2 order-md-1"
        style="padding-left: 50px"
      >


      <div class="d-flex align-items-center  mt-4 " >
        <div class="me-3 icon-style bg-circle bg-circle-1"><i class="fa-solid fa-building-circle-check"></i> </div>
        <div class="text">
          <p>Top-tier Software Outsourcing Development Company</p>
        </div>
      </div>



        

        <div class="d-flex align-items-center mt-lg-5 mt-5">
          <div class="me-3 icon-style bg-circle bg-circle-2">  <i class="fa-solid fa-clock"></i>  </div>
          <div class="text">
            <p>Flexible Work-Hours</p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-lg-5 mt-5">
          <div class="me-3 icon-style bg-circle bg-circle-3"><i class="fa-solid fa-ranking-star"></i></div>
          <div class="text">
            <p>Revolutionary Software Culture</p>
          </div>
        </div>
      </div>

      <!-- 2nd column  -->

      <div
        class="col-12 col-md-4 justify-content-center order-3 order-md-3"
        style="padding-left: 50px"
      >
        <div class="d-flex align-items-center mt-4">
          <div class="me-3 icon-style bg-circle bg-circle-4"><i class="fa-solid fa-code-compare"></i></div>
          <div class="text">
            <p>Knowledge Sharing</p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-lg-5 mt-5 ">
          <div class="me-3 icon-style bg-circle bg-circle-5" ><i class="fa-solid fa-gamepad"></i></div>
          <div class="text">
            <p>Game Zone</p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-lg-5 mt-5">
          <div class="me-3 icon-style bg-circle bg-circle-6"><i class="fa-solid fa-money-bill-trend-up"></i></div>
          <div class="text">
            <p>Competitive Remuneration</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



































<!-- Row  3 of 6 -->

<div class="features-section py-5 ">
  <div class="container">
    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Open Position
    </h2>

    <div class="row g-5 pb-5">
      <!-- <div class="col-md-6 col-lg-3"></div>
      <div class="col-md-6 col-lg-3"></div>
      <div class="col-md-6 col-lg-3"></div> -->
    


<!-- -------------------------- data  ------------------------------->

     <!-- Job Listing  -->

<!-- 
     <mat-grid-tile *ngFor="let j of jobDetails">
  <div class="job-listing ">
    <div class="job-details">
      <div class="job-title ">{{ j.jobTitle }}</div>
      <div class="job-meta">
        <span><i class="fa-solid fa-hourglass-start"></i>&nbsp; {{ j.applicationDeadline }}</span>
        <span class="px-5"><i class="fas fa-bolt"></i>&nbsp; {{ j.experienceRequired }} years</span>
      
        <span class="px-5"><i class="fa-solid fa-bangladeshi-taka-sign"></i> &nbsp; {{ j.salary }} </span>
      
      
      </div>
    </div>
    <button class="apply-button" routerLink="/applicationForm"
    routerLinkActive="active">Apply Now</button>
  </div>

</mat-grid-tile> -->





    
      <div class="job-listing" *ngFor="let j of jobDetails">
        <div class="job-details">
          <div class="job-title">{{ j.jobTitle }}</div>
          <div class="job-meta">
            <span class="px-5 pb-2"><i class="fa-solid fa-hourglass-start"></i>&nbsp; <b>Deadline:</b> &nbsp; {{ j.applicationDeadline }}</span>
            <span class="px-5 pb-2"><i class="fas fa-bolt"></i>&nbsp; <b>Experience:</b> &nbsp; {{ j.experienceRequired }} years</span>
            <span class="px-5 pb-2"><i class="fa-solid fa-bangladeshi-taka-sign"></i>&nbsp; <b>Salary:</b> &nbsp; {{ j.salary }}</span>
          </div>
        </div>
    <!-- <div style="display: flex; justify-content: flex-end;"> -->
      <button class="apply-button" routerLink="/applicationForm" routerLinkActive="active" >Apply Now</button>

    <!-- </div> -->
  </div>



<!-- -----------------------------normarl-------------- -->



     <!-- Job Listing  1-->



     <div class="job-listing ">
      <div class="job-details">
        <div class="job-title ">Digital Marketer (SEO Intern)</div>
        <div class="job-meta">
          <span><i class="fas fa-map-marker-alt"></i> Rajshahi, Bangladesh</span>
          <span class="px-5"><i class="fas fa-bolt"></i> Fresher</span>
        </div>
      </div>
      <button class="apply-button">Apply Now</button>
    </div>


  <!-- Job Listing 2 -->
  <div class="job-listing">
    <div class="job-details">
      <div class="job-title">Senior Software Engineer L1</div>
      <div class="job-meta">
        <span><i class="fas fa-map-marker-alt"></i> Dhaka, Bangladesh</span>
        <span class="px-5"><i class="fas fa-bolt"></i> 3+ Years Exp.</span>
      </div>
    </div>
    <button class="apply-button">Apply Now</button>
  </div>
    
    </div>
  </div>
</div>





























<!-- Row  4 of 6 -->

<div class="features-section py-5 bg">
  <div class="container">
    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Our Industry Expertises

      <br /><br /><br />

      Excellence Sets Our Standard
    </h2>

    <div class="row g-5 pb-5">
      <div class="col-md-6 col-lg-3"></div>
      <div class="col-md-6 col-lg-3"></div>
      <div class="col-md-6 col-lg-3"></div>
    </div>
  </div>
</div>

<!-- Row  5 of 6 -->

<div class="features-section py-5 bg">
  <div class="container">
    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Share Our Values
    </h2>
    Let's Create Magic Together.

    <div class="row g-5 pb-5">
      <div class="col-md-6 col-lg-3"></div>
      <div class="col-md-6 col-lg-3"></div>
      <div class="col-md-6 col-lg-3"></div>
    </div>
  </div>
</div>

<!-- Row  6 of 6 -->

<div class="features-section py-5 bg">
  <div class="container">
    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Show Us Your Superpower
    </h2>

    <div class="row g-5 pb-5">
      <div class="col-md-6 col-lg-3"></div>
      <div class="col-md-6 col-lg-3"></div>
      <div class="col-md-6 col-lg-3"></div>
    </div>
  </div>
</div>

<!-- data come form db  -->

<div class="container">
  <mat-grid-list cols="1" rowHeight="5:2" gutterSize="25">





    <mat-grid-tile *ngFor="let j of jobDetails">
      <div class="container">
        <h1><b>Job Title :</b> &nbsp; &nbsp; {{ j.jobTitle }}</h1>
        <hr />

        <h1><b>Job Desription :</b> &nbsp; &nbsp; {{ j.jobDescription }}</h1>

        <h1>
          <b>Experience :</b> &nbsp; &nbsp; {{ j.experienceRequired }} years
        </h1>
        <h1>
          <b>Qualification :</b> &nbsp; &nbsp; {{ j.educationQualification }}
        </h1>
        <h1><b>Deadline :</b> &nbsp; &nbsp; {{ j.applicationDeadline }}</h1>
        <h1><b>Contact :</b> &nbsp; &nbsp; {{ j.contactInformation }}</h1>

        <button
          mat-raised-button
          color="warn"
          class="align-content-end;"
          routerLink="/applicationForm"
          routerLinkActive="active"
        >
          Apply Now
        </button>
        <button mat-raised-button color="primary" (click)="CareerView(j.id)">
          View Career
        </button>
        <!-- <button mat-raised-button color="primary" routerLink="/CareerView" routerLinkActive="active"> View Career </button> -->
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
