<!-- Row  1 of 6 -->

<div class="features-section py-5 bg" >

  <div class="container">


    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
     Career Opportunity
    </h2>



    <div class="row g-5 pb-5">


      <div class="col-md-6 col-lg-3">
        <!-- <div class=" px-3 py-4 shadow-sm"> -->
         
         
         
          <!-- <ion-icon class="ionicons" name="bulb-outline"></ion-icon> -->
         
          
          <img src="assets\career-1.png" alt="Left Image" class="rounded-img">





        <!-- </div> -->
      </div>






      <div class="col-md-6 col-lg-6">
        <div class="card px-3 py-4 shadow-sm blue-bg  text-center">
          <!-- <ion-icon
            class="ionicons"
            name="shield-checkmark-outline"
          ></ion-icon> -->

          <h1 class="fs-1 lh-1 lh-sm fw-bolder">Be part of a team that's always innovating. </h1>  
          <br>
          <div class="fs-6 lh-base" > Join our team as a software engineer and experience a dynamic work environment with opportunities for growth. Be part of a passionate and cohesive team delivering innovative software solutions.</div>


          <button
          class="btn btn-primary px-5 py-3 mt-3 fs-5 fw-medium"
          type="button"
          routerLink="/contact"
          routerLinkActive="active"
        >
          Explore Job Openings  <span style="align-items: center;"><mat-icon>open_in_new</mat-icon></span> 
        </button>
          <!-- <p class="card-text lead">
            Our team ensures that every product meets high-quality
            performance.
          </p> -->
        </div>
      </div>





      <div class="col-md-6 col-lg-3 ">
        <!-- <div class=" px-3 py-4 shadow-sm"> -->



          <img src="assets\career-2.png" alt="Right Image" class="rounded-img">

      
      
      
      
        <!-- </div> -->
      </div>









    </div>
  </div>
</div>


<!-- Row  2 of 6 -->



<div class="features-section py-5 bg" >

  <div class="container">


<h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Why Join Us?
</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur accusantium est qui iure accusamus laudantium, quibusdam laboriosam amet quo quod, cum, repellat sunt quisquam nobis? Rerum neque ad natus.
</p>


    <div class="row g-5 pb-5">


      <div class="col-md-6 col-lg-4">      
        <img src="assets\photo\aaaa.jpg" alt="Right Image" class="rounded-img">
      </div>


      <div class="col-md-6 col-lg-4"> 
<p class="fs-5">
  <i class="fa-regular fa-building fs-5 text-primary px-1 py-1"></i>   &nbsp; Top-tier Software Outsourcing Development Company
</p>

<p class="fs-5">
  <i class="fa-regular fa-building fs-5 text-primary px-1 py-1"></i>   &nbsp; Top-tier Software Outsourcing Development Company
</p>


<p class="fs-5">
  <i class="fa-regular fa-building fs-5 text-primary px-1 py-1"></i>   &nbsp; Top-tier Software Outsourcing Development Company
</p>

<p class="fs-5">
  <i class="fa-regular fa-building fs-5 text-primary px-1 py-1"></i>   &nbsp; Top-tier Software Outsourcing Development Company
</p>


      </div>





      <div class="col-md-6 col-lg-4">   
        
        <p class="fs-5">
          <i class="fa-regular fa-building fs-5 text-primary px-1 py-1"></i>   &nbsp; Top-tier Software Outsourcing Development Company
        </p>
        
        <p class="fs-5">
          <i class="fa-regular fa-building fs-5 text-primary px-1 py-1"></i>   &nbsp; Top-tier Software Outsourcing Development Company
        </p>
        
        
        <p class="fs-5">
          <i class="fa-regular fa-building fs-5 text-primary px-1 py-1"></i>   &nbsp; Top-tier Software Outsourcing Development Company
        </p>
        
        <p class="fs-5">
          <i class="fa-regular fa-building fs-5 text-primary px-1 py-1"></i>   &nbsp; Top-tier Software Outsourcing Development Company
        </p>
      
      
      </div>

    </div>


  </div>
</div>

 
<!-- Row  3 of 6 -->


<div class="features-section py-5 bg" >

  <div class="container">


    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Open Position
    </h2>



    <div class="row g-5 pb-5">


      <div class="col-md-6 col-lg-3">      </div>
      <div class="col-md-6 col-lg-3">      </div>
      <div class="col-md-6 col-lg-3">      </div>

    </div>

    
  </div>
</div>






<!-- Row  4 of 6 -->




<div class="features-section py-5 bg" >

  <div class="container">


    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Our Industry Expertises


      <br><br><br>

      Excellence Sets Our Standard
    </h2>



    <div class="row g-5 pb-5">


      <div class="col-md-6 col-lg-3">      </div>
      <div class="col-md-6 col-lg-3">      </div>
      <div class="col-md-6 col-lg-3">      </div>

    </div>

    
  </div>
</div>







<!-- Row  5 of 6 -->





<div class="features-section py-5 bg" >

  <div class="container">


    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Share Our Values

    </h2>
    Let's Create Magic Together.


    <div class="row g-5 pb-5">


      <div class="col-md-6 col-lg-3">      </div>
      <div class="col-md-6 col-lg-3">      </div>
      <div class="col-md-6 col-lg-3">      </div>

    </div>

    
  </div>
</div>






<!-- Row  6 of 6 -->

<div class="features-section py-5 bg" >

  <div class="container">


    <h2 class="fs-1 fw-bold text-center pt-5 pb-5 text-primary">
      Show Us Your Superpower
    </h2>



    <div class="row g-5 pb-5">


      <div class="col-md-6 col-lg-3">      </div>
      <div class="col-md-6 col-lg-3">      </div>
      <div class="col-md-6 col-lg-3">      </div>

    </div>

    
  </div>
</div>










































<!-- data come form db  -->

<div class="container">
  <mat-grid-list cols="1" rowHeight="5:2" gutterSize="25">
    <mat-grid-tile *ngFor="let j of jobDetails">
      <div class="container">
        <h1><b>Job Title :</b> &nbsp; &nbsp; {{ j.jobTitle }}</h1>
        <hr />

        <h1><b>Job Desription :</b> &nbsp; &nbsp; {{ j.jobDescription }}</h1>

        <h1>
          <b>Experience :</b> &nbsp; &nbsp; {{ j.experienceRequired }} years
        </h1>
        <h1>
          <b>Qualification :</b> &nbsp; &nbsp; {{ j.educationQualification }}
        </h1>
        <h1><b>Deadline :</b> &nbsp; &nbsp; {{ j.applicationDeadline }}</h1>
        <h1><b>Contact :</b> &nbsp; &nbsp; {{ j.contactInformation }}</h1>

        <button
          mat-raised-button
          color="warn"
          class="align-content-end;"
          routerLink="/applicationForm"
          routerLinkActive="active"
        >
          Apply Now
        </button>
        <button mat-raised-button color="primary" (click)="CareerView(j.id)">
          View Career
        </button>
        <!-- <button mat-raised-button color="primary" routerLink="/CareerView" routerLinkActive="active"> View Career </button> -->
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>


