.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .search-input {
    width: 300px;
    margin-right: 15px;

    input {
      padding-right: 40px;
      /* Adjust the padding to create space for the button */
    }

    button {
      position: absolute;
      right: 8px;
      /* Adjust the button's position as desired */
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f8f8f8;
  min-height: 70vh;
  padding: 20px;

  .product-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    .product-image {
      height: 200px;
      border-radius: 10px 10px 0 0;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .product-details {
      padding: 20px;

      .product-name {
        font-size: 20px;
        font-weight: bold;
        color: #108ee9;
        margin-bottom: 10px;
      }

      .product-description {
        margin-bottom: 10px;
      }

      .product-info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        .info-row {
          flex: 00 50%;
          display: flex;
          align-items: center;
          margin-bottom: 8px;

          .info-label {
            font-weight: 10px;
            margin-right: 5px;
          }

          .info-value {
            font-weight: bold;
          }
        }

        .actions {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;

          .update-button {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;

  /* Adjust the height to fit your design */
  span {
    font-size: 18px;
    color: #616161;
    /* Adjust the text color as needed */
    margin-top: 10px;
  }
}
