<div
  style="
    padding: 3%;
    text-align: center;
    position: static;
    background-color: rgb(87, 151, 255);
  "
>
  <h1><b>See Your News List</b></h1>
  <h3>You can <b>Update</b> & <b>Delete</b></h3>

  <button mat-icon-button aria-label="Applicants">
    <mat-icon style="font-size: 25px">notifications</mat-icon>
    <span
      matBadge="{{ newsData.length }}"
      matBadgeColor="warn"
      matBadgeOverlap="false"
    ></span>
  </button>
</div>

<div class="container mt-5 p-2">
    <table mat-table [dataSource]="newsData" class="mat-elevation-z8 custom-table">
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="background-color:  #007BFF;"> <b>#</b> </th>
        <td mat-cell *matCellDef="let element; let i = index" class="data-cell"> 
          <b>{{ i + 1 }}</b> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="background-color:  #007BFF;"> <b>ID</b> </th>
        <td mat-cell *matCellDef="let element" class="data-cell"> <b>{{ element.id }}</b> </td>
      </ng-container>
      <ng-container matColumnDef="News Title">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="background-color:  #007BFF;"> <b>News Title</b> </th>
        <td mat-cell *matCellDef="let element" class="data-cell"> 
          <div class="truncate-text">{{ element.title }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Subtitle">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="background-color:  #007BFF;"> <b>Subtitle</b> </th>
        <td mat-cell *matCellDef="let element" class="data-cell">
          <div class="truncate-text">{{ element.subtitle }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="background-color:  #007BFF;"> <b>Description</b> </th>
        <td mat-cell *matCellDef="let element" class="data-cell">
          <div class="truncate-text">{{ element.description?.join(', ') }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef class="header-cell" style="background-color:  #007BFF;"> <b>Image</b> </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <img *ngIf="element.img" [src]="element.img" alt="News Image" style="width: 100px; height: 100px;">
        </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef class="header-cell"style="background-color:  #007BFF;"> <b>Delete</b> </th>
        <td mat-cell *matCellDef="let element" class="data-cell"> 
          <button mat-icon-button color="warn" (click)="deleteNews(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>


















