<div
  style="
    padding: 3%;
    text-align: center;
    position: static;
    background-color: rgb(232, 151, 255);
  "
>
  <h1><b> See Your News List</b></h1>
  <h3>You can <b>Update</b> & <b>Delete</b></h3>

  <button mat-icon-button aria-label="Applicants">
    <mat-icon style="font-size: 25px">notifications</mat-icon>
    <span
      matBadge="{{ newsModelArray.length }}"
      matBadgeColor="warn"
      matBadgeOverlap="false"
    ></span>
  </button>
</div>




<div class="container mt-5 p-2">
    <table mat-table [dataSource]="newsModelArray" class="mat-elevation-z8">
      <!-- Index Column -->
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef style="background-color: aquamarine;"> <b>#</b> </th>
        <td mat-cell *matCellDef="let element; let i = index" style="background-color: rgb(255, 255, 255);"> 
          <b>{{ i + 1 }}</b> 
        </td>
      </ng-container>
  
      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef style="background-color: aquamarine;"> <b>ID</b> </th>
        <td mat-cell *matCellDef="let element" style="background-color: grey;"> <b>{{ element.id }}</b> </td>
      </ng-container>
  
      <!-- News Title Column -->
      <ng-container matColumnDef="News Title">
        <th mat-header-cell *matHeaderCellDef style="background-color: aquamarine;"> <b>News Title</b> </th>
        <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
      </ng-container>
  
      <!-- Subtitle Column --> 
      <ng-container matColumnDef="Subtitle">
        <th mat-header-cell *matHeaderCellDef style="background-color: aquamarine;"> <b>Subtitle</b> </th>
        <td mat-cell *matCellDef="let element"> {{ element.subtitle }} </td>
      </ng-container>
  
      <!-- Description Column --> 
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef style="background-color: aquamarine;"> <b>Description</b> </th>
        <td mat-cell *matCellDef="let element"> 
          {{ element.description?.join(', ') }}  
        </td>
      </ng-container>
  
      <!-- Image Column -->
      <!-- <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef style="background-color: rgb(127, 129, 128);"> <b>Image</b> </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <img *ngIf="element.img" [src]="element.img" alt="News Image" style="width: 100px; height: 100px;">
        </td>
      </ng-container> -->







<!-- Image Column -->
<ng-container matColumnDef="Image">
    <th mat-header-cell *matHeaderCellDef style="background-color: rgb(127, 129, 128);"> <b>Image</b> </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">
      <img *ngIf="element.img" [src]="element.img" alt="News Image" style="width: 100px; height: 100px;">
    </td>
  </ng-container>
  





  
      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef style="background-color: rgb(184, 255, 211);"> <b>Delete</b> </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button color="warn" (click)="deleteNews(element.newsId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  