<div class="bg">
  <div class="row pt-5"></div>

  <div class="container py-5" id="back-office">
    <div class="card row-cols-1">
      <div class="card text-start">
        <img
          class="card-img-top"
          src="assets\photo\service\back-office.jpeg"
          alt="Title"
        />
      </div>

      <div
        class="card-body p-5 container"
        style="
          background-color: rgb(249, 249, 249);
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        "
      >
        <div style="font-family: Arial, sans-serif; line-height: 1.5">
          <br />

          <h2 style="font-size: 3vw; text-align: center">
            Back-Office Services
          </h2>
          <br /><br />

          <div style="font-size: 1vw">
            <p style="text-align: justify">
              At FIFOTech, we recognize the critical importance of Back-Office
              Services in the success of any business. With the right support,
              businesses can streamline their operations, improve efficiency,
              and reduce costs. Our comprehensive range of Back-Office Services
              is designed to ensure high accuracy while adhering to strict
              deadlines. By entrusting your back-office functions to FIFOTech,
              you can save time, reduce operational burdens, and enhance the
              overall quality of your business
            </p>

            <br />
            
            <p>We specialize in the following Back-Office Services:</p>

            <ul>
              <li><strong>Data Management</strong>:
                <ul class="sub-list">
                  <li>Data Entry</li>
                  <li>Data Processing</li>
                  <li>Data Conversion</li>
                  <li>Data Cleansing</li>
                  <li>Data Mining Services</li>
                </ul>
              </li>
        
              <li><strong>Document Handling</strong>:
                <ul class="sub-list">
                  <li>Scanning and OCR (Optical Character Recognition)</li>
                  <li>Web Research</li>
                  <li>Content Moderation</li>
                </ul>
              </li>
        
              <li><strong>Administrative Support</strong>:
                <ul class="sub-list">
                  <li>HR Admin, Recruiting, and Payroll</li>
                  <li>Medical Transcription (On-Net & Off-Net)</li>
                  <li>Multilingual Translation</li>
                  <li>Accounting and Bookkeeping</li>
                  <li>Analytics and Reporting</li>
                </ul>
              </li>
        
              <li><strong>E-Commerce and Online Services</strong>:
                <ul class="sub-list">
                  <li>E-Commerce Management</li>
                  <li>Online Form Processing</li>
                  <li>E-Surveillance</li>
                </ul>
              </li>
            </ul>
        
            <p>With our expertise in these areas, <b>FIFOTech</b> ensures that your business receives the highest level of back-office support, allowing you to focus on core operations and strategic growth.</p>
          





          </div>
        </div>
      </div>
    </div>
  </div>
</div>
