
<div class="col-12 py-5 container"  style="text-align: center; align-items: center">
    <h1 style="font-size: xx-large; font-weight: bolder;">Our Team</h1>
    <h3>
        Passionate Members of FIFOTech

    </h3>
</div>


<!-- Team Members -->

<section>


<!-- CEO -->
    <div class="row p-5 " style="justify-content: center;">

        <div class="box" style="width: 30%;" routerLink="/towhid-hossain" routerLinkActive="active">
            <img src="assets\photo\team\Towhid-Bhai.jpg" alt="Towhid Hossain
            ">
            <div class="overlay">
                <h3>Towhid Hossain </h3>
                <p>Managing Director & CEO, FIFO-Tech Company</p>
                <a href="/towhid-hossain">Details</a>
            </div>
        </div>
    </div>


    <!-- staff -->

    <div class="row pt-4">


        <div class="wrapper">
            <div class="box-area">

                <!-- 01 -->
                <div class="box" routerLink="/jahangir-hossain-uzzal" routerLinkActive="active">
                    <img src="assets\photo\team\Ujjal-Bhai.jpg" alt="Ujjal-Bhai
                ">
                    <div class="overlay">
                        <h3> Jahangir Hossain Uzzal </h3>
                        <p>General Manager, Operations</p>
                        <a href="/jahangir-hossain-uzzal">Details</a>
                    </div>
                </div>

                <!-- 02 -->
                <div class="box" routerLink="/nurul-islam" routerLinkActive="active">
                    <img src="assets\photo\team\shoikot-2.jpg" alt="Towhid Hossain
            ">
                    <div class="overlay">
                        <h3>Md. Nurul Islam</h3>
                        <p>Senior Manager, Operations</p>
                        <a href="/nurul-islam">Details</a>
                    </div>
                </div>
                <!-- 03 -->

                <div class="box" routerLink="/rashaduzamman-rian" routerLinkActive="active">
                    <img src="assets\photo\team\Rian-Bhai.jpg" alt="Towhid Hossain
            ">
                    <div class="overlay">
                        <h4>Md Rashaduzamman Rian</h4>
                        <p>Senior Manager, Finance & Admin</p>
                        <a href="/rashaduzamman-rian">Details</a>
                    </div>
                </div>

                <!-- 04 -->

                <div class="box" routerLink="/tariqul-hasan" routerLinkActive="active">
                    <img src="assets\photo\team\Linkon-Bhai.jpg" alt="Towhid Hossain
                ">
                    <div class="overlay">
                        <h3>MD. Tariqul Hasan</h3>
                        <p>Assistant General Manager</p>
                        <a href="/tariqul-hasan">Details</a>
                    </div>
                </div>

                <!-- 07 -->


                <div class="box" routerLink="/atia-bilkis" routerLinkActive="active">
                    <img src="assets\photo\team\atia.jpg" alt="Towhid Hossain
                ">
                    <div class="overlay">
                        <h3>Atia Bilkis</h3>
                        <p>Assistant General Manager</p>
                        <a href="/atia-bilkis">Details</a>
                    </div>
                </div>
                <!-- 05 -->

                <div class="box" routerLink="/obaidul-haque" routerLinkActive="active">
                    <img src="assets\photo\team\Obaidul-Bhai.jpg" alt="Towhid Hossain
            ">
                    <div class="overlay">
                        <h3>Md Obaidul Haque </h3>
                        <p>General Manager, Finance & Admin</p>
                        <a href="/obaidul-haque">Details</a>
                    </div>
                </div>

                <!-- 06 -->
                <div class="box" routerLink="/tamanna-sharker" routerLinkActive="active">
                    <img src="assets\photo\team\tamnna-final.jpg" alt="Towhid Hossain
            ">
                    <div class="overlay">
                        <h3> Tamanna Sharker</h3>
                        <p>Manager, Business Development</p>
                        <a href="/tamanna-sharker">Details</a>
                    </div>
                </div>





            </div>
        </div>



    </div>



</section>










<!-- data will coming from db  -->

<!-- <div class="container">
    <mat-grid-list cols="1" rowHeight="5:2" gutterSize="25">
        <mat-grid-tile *ngFor="let t of teamDetails">
            <div class="container">
                <h1><b>Name :</b> &nbsp; &nbsp; {{ t.name }}</h1>
                <hr />

                <h1><b>Details :</b> &nbsp; &nbsp; {{ t.details }}</h1>
                <h1><b>designation :</b> &nbsp; &nbsp; {{ t.designation }}</h1>
                <h1><b>mail :</b> &nbsp; &nbsp; {{ t.mail }}</h1>
                <h1><b>linkedInId :</b> &nbsp; &nbsp; {{ t.linkedInId }}</h1>



                <button mat-raised-button color="primary" (click)="detailsById(t.id)">
                    View
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->