<!-- Bread Curmbs  -->
<section>
    <div class="row py-5 bgCrumb" style="text-align: center; align-items: center">
        <h1 style="font-size: xx-large;">Atia Bilkis</h1>
        <ul class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li> <a href="/team">Team</a></li>
            <li> Atia Bilkis</li>
        </ul>
    </div>



</section>

<!-- content  -->
<section>

    <div class="bg">
    
        <div class="row "></div>
    
        <div class="container py-5 ">
    
            <div class="card row-cols-1">
    
                <div class="center-image">
                    <img class="card-img-top" src="assets\photo\team\atia.jpg" alt="Title" />
    
                </div>
    
    
    
    
                <div class="card-body p-5 container" style="background-color: rgb(249, 249, 249);  border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    
                    <div style="font-family: Arial, sans-serif; ">
                        
                        <h2 style="font-size:3vw; text-align: center;">Atia Bilkis</h2>
                        <h2 style="text-align: center; color: grey;">
                            Assistant General Manager (AGM)

                        </h2>
                        <br><br>

    
                        <div style="font-size:1vw">
    
                           
                            <p>
                                <strong>Atia Bilkis</strong> plays an instrumental role in driving <strong>FIFOTech’s strategic goals</strong> and ensuring the smooth day-to-day functioning of the company. With a focus on leadership and management, she oversees critical areas of operations and facilitates the achievement of company objectives.
                            </p>
                            
                            <p>
                                She collaborates closely with senior leadership to <strong>develop and execute strategic plans</strong> that align with the company's mission and vision. By identifying opportunities for growth, innovation, and market expansion, Atia ensures that the company remains competitive in an ever-evolving market.
                            </p>
                            
                            <p>
                                In her role, she also oversees the <strong>daily operations</strong> of various departments, ensuring that processes run efficiently and resources are allocated effectively. Her coordination with department heads is crucial in achieving operational excellence.
                            </p>
                            
                            <p>
                                Atia actively monitors the progress of key projects and initiatives, ensuring that they are delivered <strong>on time</strong>, within scope, and meet the highest quality standards. She effectively addresses any roadblocks or challenges that arise, ensuring smooth project execution.
                            </p>
                            
                            <p>
                                With her leadership, Atia has made significant contributions to the company, particularly in fostering a culture of innovation and operational efficiency.
                            </p>
                            
                          
    
    
                        </div>
    
    
    
    
    
                    </div>
    
    
    
                </div>
            </div>
    
    
        </div>
    
    
    
    </div>
    
    
    </section>

