<div class="row py-5 bgCrumb" style="text-align: center; align-items: center">
    <h1 style="font-size: xx-large;">News & Events</h1>
    <ul class="breadcrumb">
        <li><a href="/home">Home</a></li>
        <li>News & Events</li>
    </ul>
</div>






 

<div class="product-list">





    <mat-card class="product-card" *ngFor="let prac of practice">
        <div class="product-image">
            <img [src]="prac.processedImg" alt="product-image">
        </div>
        <div class="product-details">
            <h2 class="product-name">{{ prac.title }}</h2>
  
            
            <p class="product-description">{{ prac.subtitle }}</p>
            <mat-divider></mat-divider>
            <div class="product-info">
                <div class="info-row">
                    <span class="info-label">Description:</span>
                    <span class="info-value"> {{ prac.description }}  </span>
                </div> 
                
             </div>
  
  
  
  
        </div>
    </mat-card>
  </div>
  
  
  





<!-- 

   
<div class="container">
    <mat-grid-list cols="1" rowHeight="5:2" gutterSize="25">
        <mat-grid-tile *ngFor="let n of newsModelArray">

            <div class="container">
                <h1><b>News Title :</b> &nbsp; &nbsp; {{n.title}}</h1>
                <hr>

                <h1><b>Author :</b> &nbsp; &nbsp; {{n.author}} </h1>

                 <h1><b>Image :</b> &nbsp; &nbsp; {{n.imageUrl}} years </h1>
             

                <h1><b>date :</b> &nbsp; &nbsp; {{n.publishedAt}} </h1>
                 <h1><b>Description :</b> &nbsp; &nbsp; {{n.content}} </h1>
                <h1><b>Video :</b> &nbsp; &nbsp; {{n.videoUrl}} </h1>

               <img *ngIf="n.newsImages" [src]="n.imageSrc" alt="Image" />



                <button mat-raised-button color="warn" class="align-content-end;"   routerLink="/applicationForm" routerLinkActive="active"> Apply Now</button> -->
                <!-- <button mat-raised-button color="primary" (click)="CareerView(j.id)"> View Career </button> -->
                <!-- <button mat-raised-button color="primary" routerLink="/CareerView" routerLinkActive="active"> View Career </button>
                
                
                <button mat-raised-button color="primary"> View</button>

            </div>



        </mat-grid-tile>

    </mat-grid-list>
</div>



 -->


