<div style="padding: 1%"></div>

<h1>
    <div style="
      padding: 3%;
      text-align: center;
      position: static;
      background-color: rgb(239, 250, 215);
    ">
        Let's Create to grow-up my Company
    </div>
</h1>

<div class="container">
    <mat-grid-list cols="3" rowHeight="2:1" gutterSize="30">
        <!--  icon dhik korte hobe: middle;         -->
       
        <mat-grid-tile>        
            <button mat-icon-button color="warn" routerLink="/admin/newsPost" routerLinkActive="active" >
           <div >
            <mat-icon>add</mat-icon>
           </div>
              
            <!-- <mat-divider></mat-divider> -->
                
                <div>News</div>
            </button>
        </mat-grid-tile>

        <mat-grid-tile>
            <button mat-icon-button color="warn" routerLink="/admin/careerPost" routerLinkActive="active">
                <div><mat-icon>add</mat-icon></div>
                <div>Carrer</div>
            </button></mat-grid-tile>
        
        
            <mat-grid-tile>
            <button mat-icon-button color="warn" routerLink="/admin/servicePost" routerLinkActive="active">
                <div><mat-icon>add</mat-icon></div>
                <div>Service</div>
            </button>
        </mat-grid-tile>


        <mat-grid-tile><button mat-icon-button color="warn" routerLink="/admin/photoUploadToGallery" routerLinkActive="active">
                <div><mat-icon>add</mat-icon></div>
                <div>Photo</div>
            </button></mat-grid-tile>


        <mat-grid-tile><button mat-icon-button color="warn" routerLink="/admin/videoPost" routerLinkActive="active">
                <div><mat-icon>add</mat-icon></div>
                <div>Video</div>
            </button></mat-grid-tile>


        <mat-grid-tile><button mat-icon-button color="warn" routerLink="/admin/teamPost" routerLinkActive="active">
                <div><mat-icon>add</mat-icon></div>
                <div>Team</div>
            </button></mat-grid-tile>


        <mat-grid-tile><button mat-icon-button color="warn" routerLink="/admin/globalBpoPost" routerLinkActive="active">
                <div><mat-icon>add</mat-icon></div>
                <div>GlobalBPO</div>
            </button></mat-grid-tile>


    </mat-grid-list>
</div>

<div class="container pt-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, deserunt
    pariatur iste quo culpa sunt soluta ab, nostrum cumque recusandae omnis optio
    sapiente, error numquam vitae quisquam repudiandae corporis aspernatur.
</div>