<!-- Bread Curmbs  -->
<section>
    <div class="row py-5 bgCrumb" style="text-align: center; align-items: center">
        <h1 style="font-size: xx-large;">Tamanna Sharker</h1>
        <ul class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li> <a href="/team">Team</a></li>
            <li> Tamanna Sharker</li>
        </ul>
    </div>


   
</section>






<!-- content  -->
<section>

    <div class="bg">
    
        <div class="row "></div>
    
        <div class="container py-5 ">
    
            <div class="card row-cols-1">
    
                <div class="center-image">
                    <img class="card-img-top" src="assets\photo\team\tamnna-final.jpg" alt="Title" />
    
                </div>
    
    
    
    
                <div class="card-body p-5 container" style="background-color: rgb(249, 249, 249);  border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    
                    <div style="font-family: Arial, sans-serif; ">
                        
                        <h2 style="font-size:3vw; text-align: center;">Tamanna Sharker</h2>
                        <h2 style="text-align: center; color: grey;">
                            Manager, Business Development  
                        </h2>
                        <br><br>
    
    
    
                        <div style="font-size:1vw">
    
                            <p>
                                <strong>Tamanna Sharker</strong> is a highly accomplished professional with a <strong>Bachelor’s degree in English</strong> from <strong>Daffodils University</strong>. She began her career in 2013 as a <strong>Quality Assurance Officer</strong> at the only government-owned telecom operator in Bangladesh. 
                            </p>
                            
                            <p>
                                Driven by her passion for <strong>client management</strong> and <strong>business development</strong>, Tamanna transitioned to a prominent <strong>Business Process Outsourcing (BPO)</strong> company. Her exceptional skills in building strong client relationships and managing stakeholder engagement quickly earned her recognition, leading to her promotion to the role of <strong>Center Incharge</strong>.
                            </p>
                            
                            <p>
                                Tamanna's passion for business development led her to join <strong>FIFOTech</strong>, where she made significant contributions to the <strong>Business Development (BD) Team</strong>. Embracing both challenges and opportunities, she played a pivotal role in business expansion initiatives, becoming an indispensable member of the team.
                            </p>
                            
                          
                               <b> Tamanna excels in:</b>
                                <ul style="line-height: 1.3;" >
                                    <li>Client Management</li>
                                    <li>Business Acquisition</li>
                                    <li>Strategic Development</li>
                                    <li>Project Management</li>
                                </ul>
                            
                            
                            <p>
                                Her diverse skill set and expertise make her a valuable asset to any organization fortunate enough to benefit from her knowledge and leadership.
                            </p>
                            
                        
                          
    
    
                        </div>
    
    
    
    
    
                    </div>
    
    
    
                </div>
            </div>
    
    
        </div>
    
    
    
    </div>
    
    
    </section>
