<div class="row py-5 bgCrumb" style="text-align: center; align-items: center">
  <h1 style="font-size: xx-large;">Video</h1>
  <ul class="breadcrumb">
      <li><a href="/home">Home</a></li>
      <li>Video</li>
  </ul>
</div>



<div class="row p-3"></div>





<div class="bg">
  <div class="container pt-5">
    <div class="row">
      <div class="col-4">
        <!-- video 01 -->

        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/Ace-n79TKYI"
              title="Kotha Barta | কথাবার্তা | বিষয়: ডিজিটাল দুনিয়ায় স্বাগতম | নাসিমা আক্তার নিশা, তৌহিদ হোসেন | Channeli"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">ডিজিটাল দুনিয়ায় স্বাগতম</h1>
            <p class="card-text">
              চ্যানেল আই অনলাইনের বিশেষ অনুষ্ঠান কথাবার্তা<br />

              <b>অতিথি</b>: নাসিমা আক্তার নিশা এবং <b>তৌহিদ হোসেন</b><br />
              <strong>সঞ্চালনা</strong>: মারলিন
            </p>
          </div>
        </div>
      </div>

      <!-- video 02 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="895"
              height="503"
              src="https://www.youtube.com/embed/I9Zpqi14w8c"
              title="৩০০ সেকেন্ড | Shahriar Nazim Joy | Tawhid Hossain | Celebrity Show | EP 448 | Channel i TV"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              ৩০০ সেকেন্ড | Celebrity Show | EP 448 | Channel i TV
            </h1>
            <p class="card-text">
              <b> ৩০০ সেকেন্ড</b>
              <b>উপস্থাপনা </b>: শাহরিয়ার নাজিম জয় <b>পরিচালনা</b> : সেহাঙ্গল
              বিপ্লব
            </p>
          </div>
        </div>
      </div>

      <!-- video 03 -->
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="895"
              height="671"
              src="https://www.youtube.com/embed/FsOD3-0Jhms"
              title="NTV || তথ‍্যপ্রযুক্তির দুনিয়াতে কথা হলো অনলাইন প্রফেশনাল নিয়ে।"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              তথ‍্যপ্রযুক্তির দুনিয়াতে কথা হলো অনলাইন প্রফেশনাল নিয়ে
            </h1>
            <p class="card-text">
              NTV || তথ‍্যপ্রযুক্তির দুনিয়াতে কথা হলো অনলাইন প্রফেশনাল নিয়ে
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <!-- video 04 -->

          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/46S_R2mylhc"
              title="NTV তথ্য-প্রযুক্তির দুনিয়া"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">NTV <b>তথ্য-প্রযুক্তির দুনিয়া</b></h1>
          </div>
        </div>
      </div>

      <!-- video 5 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/BmbV2cya5XU"
              title="BANGLADESHI YOUTH TO DRIVE BPO INDUSTRY"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">Bangladeshi Youth To Drive BPO Industry</h1>
          </div>
        </div>
      </div>

      <!-- video 6 -->
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/KhEvCPwE_M0"
              title="GBA 71 TV"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              GBA- FIFOTech Press Release in Bangladesh
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <!-- video 7 -->
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/Teeup78V8v0"
              title="FIFOTechAV"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">FIFO Tech AV</h1>
          </div>
        </div>
      </div>

      <!-- video 8 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/pSReKRZ84ag"
              title="Mango TV"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">Mango TV</h1>
          </div>
        </div>
      </div>

      <!-- video 9 -->
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/-d6obzvE-r8"
              title="Pahela Boishakh"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              Towhid Hossain, FIFOTech, BPO, BACCO, NEWS24
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <!-- video 10 -->

          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/7w1okEh--s8"
              title="জনপ্রিয় হয়ে উঠছে কলসেন্টারের চাকরি || Somoy News"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">Somoy News</h1>
          </div>
        </div>
      </div>

      <!-- video 11 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/g89O_CvMEDw"
              title="DIGIBangla24HD"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">DIGIBangla24 HD</h1>
          </div>
        </div>
      </div>

      <!-- video 12 -->
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/-d6obzvE-r8"
              title="Pahela Boishakh"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">Pahela Boishakh</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <!-- video 13 -->

          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/TP7_2FdqO1c"
              title="FIFO Tech 16 Dec"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">16th December</h1>
          </div>
        </div>
      </div>

      <!-- video 14 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/bLSEjW3Nii4"
              title="Bacco"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">Bacco</h1>
          </div>
        </div>
      </div>

      <!-- video 15 -->
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/tu1LqsmydWM"
              title="Towhid Hossain FIFOTech BPO BACCO ETV"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              <b>Mr. Towhid Hossain</b>, Secretary-General, BACCO. ETV একুশে
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <!-- video 16 -->

          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/HKPqw6kv98I"
              title="Khatunganj Theke Motijheel, 26 November 2015"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              Khatunganj Theke Motijheel, 26 November 2015 Independent TV
            </h1>
          </div>
        </div>
      </div>

      <!-- video 17 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/BNb28GNX0w8"
              title="বিপিও খাতের প্রসার, কর্মসংস্থানের নতুন দরজা l NTV News Update"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              Business Process Outsourcing BPO has become a new employment
              sector
            </h1>
          </div>
        </div>
      </div>

      <!-- video 18 -->
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/BtxV3PCSUiM"
              title="Chorki.com &amp; Career in Bangladeshi Call Center Story"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              START! EP 46 Jamuna TV Feat. Chorki.com & Career in Bangladeshi
              Call Center
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <!-- video 19 -->

          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/0tZtntDKVms"
              title="Bela sheshe -Interview with Mr. Towhid Hossain, Secretary General of BACCO and MD &amp; CEO of FIFO Tech"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              Interview with <b>Mr.Towhid Hossain</b>, Secretary-General of
              BACCO and MD & CEO of FIFO Tech, at SA TV.
            </h1>
          </div>
        </div>
      </div>

      <!-- video 20 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="340"
              height="281"
              src="https://www.youtube.com/embed/_OylDGJQQZQ"
              title="BPO Summit 2015 Promo"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              Father of The Nation Bangladesh Bangabandhu Sheikh Mujibur Rahman
              for a new generation
            </h1>
          </div>
        </div>
      </div>

      <!-- video 21 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <video src="assets\video\Bangla-TV-Talk-Show.mp4" controls></video>
          </div>

          <div class="card-body">
            <h1 class="card-title">Business Time | Talk Show | Ep: 503</h1>
            <p class="card-text">
              <b>Towhid Hossain</b> <br />
              Alisha Pradhan
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <!-- video 19 -->

          <div class="ratio ratio-16x9">
            <video src="assets\video\BTV.mp4" controls></video>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              তথ্য ও বিনোদনমূলক অনুষ্ঠান “ফেসবুকের সাতকাহন”

            </h1>

            <p class="card-text">
                Bangladesh Television – BTV <br />
                <b>Towhid Hossain</b>
              </p>
          </div>
        </div>
      </div>

      <!-- video 20 -->

      <div class="col-4">
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <video src="assets\video\ETV.mp4" controls></video>
          </div>

          <div class="card-body">
            <h1 class="card-title">
              ETV News | <b>FIFOTech</b> | Towhid Hossain
            </h1>
          </div>
        </div>
      </div>

      <!-- video 21 -->
    </div>

    <!-- not responsive  -->

    <!-- <mat-grid-list cols="3" rowHeight="1:1" class="m-2">

    <mat-grid-tile>
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="941"
              height="539"
              src="https://www.youtube.com/embed/t5zFfDdvApE"
              title="Animated Card Hover Effect | Html &amp; CSS | CodeEra"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
    
          <div class="card-body">
            <h1 class="card-title">Card title</h1>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </mat-grid-tile>
    
      <mat-grid-tile>
        <div class="card" style="max-width: 38rem">
          <div class="ratio ratio-16x9">
            <iframe
              width="941"
              height="539"
              src="https://www.youtube.com/embed/t5zFfDdvApE"
              title="Animated Card Hover Effect | Html &amp; CSS | CodeEra"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
    
          <div class="card-body">
            <h1 class="card-title">Card title</h1>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </mat-grid-tile>

  </mat-grid-list>
</div> -->

    <!-- coming data from db  dynamically + but not working -->

    <!-- 
<mat-grid-list cols="3" rowHeight="1:1" class="m-2">
    
    <mat-grid-tile *ngFor="let v of videoDetails">
      <div class="card" style="max-width: 38rem">
        <div class="ratio ratio-16x9">
          {{ v.youtubeIframe }}
        </div>

        <div class="card-body">
          <h1 class="card-title">{{ v.videoName }}</h1>
          <p class="card-text">
            {{ v.videoDetails }}
          </p>
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list> -->
  </div>
</div>
