ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  text-align: center;
  align-items: center;
justify-content: center;

}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}



.bgCrumb {
  // background-image: linear-gradient(to bottom right, rgb(154, 190, 212), rgb(241, 241, 241));
  background-image: linear-gradient(180deg, rgba(0, 157, 255, 0.646), rgb(241, 241, 241));
}s


.bg {
    background-image: linear-gradient(to bottom right, rgb(242, 250, 255), rgb(241, 241, 241));
  }

 row{
    justify-content: space-around;
   
  }