<form [formGroup]="searchOrderForm" class="search-form" (submit)="submitForm()">
    <mat-form-field appearance="outline" class="search-input">
        <mat-label>Enter Tracking Id to search</mat-label>
        <input matInput formControlName="trackingId" />
        <button mat-button matSuffix color="primary" [disabled]="searchOrderForm.invalid">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>

<div class="order-details-container" *ngIf="order">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Order Details</mat-card-title>
        </mat-card-header>
        <div class="order-detail">
            Tracking ID:
            <strong>{{ order.trackingId }}</strong>
        </div>
        <div class="order-detail">
            User Name:
            <strong>{{ order.userName }}</strong>
        </div>
        <div class="order-detail">
            Address:
            <strong>{{ order.address }}</strong>
        </div>
        <div class="order-detail">
            Amount:
            <strong>{{ order.amount | currency }}</strong>
        </div>
        <div class="order-detail">
            Status:
            <strong>{{ order.orderStatus }}</strong>
        </div>
        <div class="order-detail">
            Date:
            <strong>{{ order.date | date }}</strong>
        </div>
    </mat-card>
</div>