<div class="container">
    <h2>Post FAQ</h2>
    <form [formGroup]="FAQForm" (ngSubmit)="postFAQ()">

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Question</mat-label>
            <textarea matInput placeholder="Question" formControlName="question"></textarea>
            <mat-error *ngIf="FAQForm.get('question')?.hasError('required')">This Input Is Required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Answer</mat-label>
            <textarea matInput placeholder="Answer" formControlName="answer"></textarea>
            <mat-error *ngIf="FAQForm.get('answer')?.hasError('required')">This Input Is Required!</mat-error>
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit">Post FAQ</button>
        
    </form>
</div>