<!-- Bread Curmbs  -->

<!-- content  -->
<section>

    <div class="bg">
    
        <div class="row "></div>
    
        <div class="container py-5 ">
    
            <div class="card row-cols-1">
    
                <div class="center-image">
                    <img class="card-img-top" src="assets\photo\team\shoikot-2.jpg" alt="Title" />
    
                </div>
    
    
    
    
                <div class="card-body p-5 container" style="background-color: rgb(249, 249, 249);  border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    
                    <div style="font-family: Arial, sans-serif; ">
                        
                        <h2 style="font-size:3vw; text-align: center;">Md. Nurul Islam</h2>
                        <h2 style="text-align: center; color: grey;">
                            Senior Manager, Operations

                        </h2>
                        <br><br>

    
                        <div style="font-size:1vw">
    
                           
                            <p>
                                <strong>Jahangir Hossain Uzzal</strong> began his career in 2010 as an <strong>IT Support Engineer</strong> and has since become a driving force in the <strong>IT/ITES industry</strong>. Through his extensive IT experience, Jahangir has led numerous projects, developing versatile software tools that have greatly simplified operational processes.
                            </p>
                            
                            <p>
                                In 2013, he joined <strong>FIFOTech</strong> as the <strong>Manager, Operations</strong>, where he managed both the <strong>contact center operations</strong> and the company's entire IT infrastructure. His innovative approach and technical expertise quickly elevated him to the position of <strong>Assistant General Manager</strong>.
                            </p>
                            
                            <p>
                                Jahangir’s contributions to FIFOTech are substantial. His leadership in <strong>system development</strong> has made the contact center processes more user-friendly and streamlined. His efforts have not only improved the efficiency of the operations but have also set the foundation for future improvements and innovations.
                            </p>
                            
                            <p>
                                He continues to play a major role in the overall success of the company, contributing his vast knowledge and experience to enhance processes across the organization.
                            </p>
                            
                          
    
    
                        </div>
    
    
    
    
    
                    </div>
    
    
    
                </div>
            </div>
    
    
        </div>
    
    
    
    </div>
    
    
    </section>

