
<h1>
  <div
    style="
      padding: 3%;
      text-align: center;
      position: static;
      background-color: rgb(151, 255, 173);
    "
  > 
    <b> Create a News </b>
  </div>
</h1>

<!-- 

<div class="container mt-5">
  <div class="card p-2">
    <div class="row">
      <div class="col-6">
        
        <form #createNewsForm="ngForm" (ngSubmit)="createNews(createNewsForm)">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Title</mat-label>
            <input
              matInput
              placeholder="News Headline"
              [(ngModel)]="newsObject.title"
              name="title"
            />
            <mat-icon matPrefix>closed_caption</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Author</mat-label>
            <input
              matInput
              placeholder="Author Name"
              [(ngModel)]="newsObject.author"
              name="author"
            />
            <mat-icon matPrefix>person_edit</mat-icon>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date</mat-label>
            <input matInput placeholder="Pick a Date">
            <mat-icon matPrefix>calendar_month</mat-icon>
          </mat-form-field> 

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="newsObject.publishedAt"
              name="content"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field matNativeControl appearance="outline" class="w-100">
            <mat-label>Content</mat-label>
            <textarea
              matInput
              style="width: 100%"
              placeholder="Write what ever you like"
              [(ngModel)]="newsObject.content"
              name="content"
            >
            </textarea>
            <mat-icon matPrefix>description</mat-icon>
          </mat-form-field>

          <div>
            <button mat-stroked-button color="accent"> Clear </button> &nbsp; -->
            <!-- <button type="submit" mat-flat-button color="warn">
              Create News
            </button>
          </div>
        </form>
      </div>

      <div class="col-6">
        <input
          type="file"
          multiple
          value="select"
          #selectFile
          (change)="onFileSelected3($event)"
        />
      </div>

      <div class="mt-5">
        <div class="row">
          <mat-grid-list cols="4" rowHeight="1:1">
            < <mat-grid-tile *ngFor="let file of newsObject.newsImages">
              <div style="position: relative">
                <img src="file" width="100px" height="100px" />
              </div>
            </mat-grid-tile> -->
            <!-- <div >
              <div *ngFor="let preview of imagePreviews">
                <img [src]="preview" alt="Image Preview" width="100" />
              </div>
            </div>
            
          </mat-grid-list>
        </div>
      </div>

  
    </div>
  </div>
</div>   -->


<!-- newly addedd -->









<div class="bg-contrast"> 

<div class="container">
  <!-- <h2>Add News</h2> -->

  <form [formGroup]="practiceForm" (ngSubmit)="addPractice()">

      <div class="file-upload-container">
          <label class="file-upload-label">
              <span>Select a File</span>
              <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden >
              <mat-icon>attach_file</mat-icon>
          </label>

          <div *ngIf="selectedFile" class="image-preview">
              <div class="circle-image">
                  <img [src]="imagePreview" alt="Selected Image" class="preview-image">
              </div>
          </div>
      </div>





      <mat-form-field appearance="outline" class="form-field">
          <mat-label>Title</mat-label>
          <input matInput type="text" placeholder="title" formControlName="title" />

          <mat-error *ngIf="practiceForm.get('title')?.hasError('required')">This Input Is Required!</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="form-field">
          <mat-label>Subtitle</mat-label>
          <input matInput type="text" placeholder="subtitle" formControlName="subtitle" />
          <mat-error *ngIf=" practiceForm.get('subtitle')?.hasError('required')">This Input Is Required!</mat-error>
      </mat-form-field>




      <mat-form-field appearance="outline" class="form-field">
          <mat-label>Description</mat-label>

          <textarea matInput placeholder="description" formControlName="description"></textarea>

          <mat-error *ngIf="practiceForm.get('description')?.hasError('required')">This Input Is
              Required!</mat-error>
      </mat-form-field>


      <button mat-raised-button color="primary" type="submit">Create News</button>







  </form>

</div>

</div>