
<h1>
  <div
    style="
      padding: 3%;
      text-align: center;
      position: static;
      background-color: rgb(151, 255, 173);
    "
  > 
    <b> Create a News </b>
  </div>
</h1>



<div class="bg-contrast"> 
  <div class="container">
    <form [formGroup]="newsForm" (ngSubmit)="addNews()">
      <div class="file-upload-container">
        <label class="file-upload-label">
          <mat-icon>add_a_photo</mat-icon>
          <span>Select a Photo</span>
          <!-- <mat-icon>add_a_photo</mat-icon> -->

          <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
        </label>

        <div *ngIf="selectedFile" class="image-preview">
          <div class="circle-image">
            <img [src]="imagePreview" alt="Selected Image" class="preview-image">
          </div>
        </div>
      </div>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Title</mat-label>
        <input matInput type="text" placeholder="Title" formControlName="title" />
        <mat-error *ngIf="newsForm.get('newsDetails.title')?.hasError('required')">This Input Is Required!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Subtitle</mat-label>
        <input matInput type="text" placeholder="Subtitle" formControlName="subtitle" />
        <mat-error *ngIf="newsForm.get('newsDetails.subtitle')?.hasError('required')">This Input Is Required!</mat-error>
      </mat-form-field>

      <!-- Dynamic Description Fields -->

      <!-- <label for="description">Description:</label>
      <div formArrayName="description">
        <div *ngFor="let description of descriptionArray.controls; let i = index">
          <mat-form-field appearance="outline" class="form-field">
            <input matInput [formControlName]="i" type="text" placeholder="Description" />
          </mat-form-field>
          <button type="button" (click)="removeDescription(i)" class="btn btn-danger">Remove</button>
        </div>
      </div>
      <button type="button" (click)="addDescription()" class="btn btn-primary">Add Description</button>
 -->


<label for="description">Description:</label>
<div formArrayName="description">
  <div *ngFor="let description of descriptionArray.controls; let i = index;">
    <mat-form-field appearance="outline" class="form-field">
      <input matInput [formControlName]="i" type="text" placeholder="Description {{i+1}}" />
    </mat-form-field>
    <button type="button" (click)="removeDescription(i)">Remove</button>
  </div>
</div>
<button type="button" (click)="addDescription()">Add Description</button>




      <button  type="submit">Create News</button>
    </form>
  </div>
</div>
