<!-- Video  -->

<!-- <div class="hero">

  <video autoplay loop muted plays-inline class="back-video">
    <source src="assets\video\contact.mp4" type="video/mp4" />
  </video>
  
  <div class="content">
    <h1 class="block-up">
      "Leading with Precision, <br />
      Delivering Excellence <br />
      FIFOTech: Your Global BPO Partner"
    </h1>

    <button
      mat-flat-button
      routerLink="/contact"
      routerLinkActive="active"
      class="button-contact"
    >
      <b> Contact Us</b>
    </button>
  </div>
</div>


 -->










<!-- carousel start  -->

<section class="">
  <div class="container">
    <div
      id="carouselExampleCaptions"
      class="carousel slide "
      data-bs-ride="carousel"
      data-bs-interval="4000"
    >

  
      <div class="carousel-inner ">
        <!-- 01 -->
        <div class="carousel-item active ">
          <img
            src="assets\photo\slider\1.jpg"
            class="d-block w-100 carousel-item-img "
            alt="..."
          />

          <!-- <div class="carousel-overlay"></div> -->


          <div class="carousel-caption d-none d-md-block ">
            <h1>First slide label</h1>
            <p>Some representative placeholder content for the first slide.</p>
          </div>



        </div>
  
        <!-- 02 -->
  
        <div class="carousel-item">
          <img
            src="assets\photo\slider\2.jpg"
            class="d-block w-100 carousel-item-img"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h1>Second slide label</h1>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <!-- 03 -->
  
        <div class="carousel-item">
          <img src="assets\photo\slider\3.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h1>Second slide label</h1>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
  
        <!-- 4 -->
        <div class="carousel-item">
          <img src="assets\photo\slider\4.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h1>Second slide label</h1>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
  
        <!-- 5 -->
        <div class="carousel-item">
          <img src="assets\photo\slider\5.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h1>Second slide label</h1>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
  
        <!-- 6 -->
        <div class="carousel-item">
          <img src="assets\photo\slider\6.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h1>Second slide label</h1>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
  
        <!-- 7 -->
        <div class="carousel-item">
          <img src="assets\photo\slider\7.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h1>Second slide label</h1>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <!-- 8 -->
  
        <div class="carousel-item">
          <img src="assets\photo\slider\8.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h1>Second slide label</h1>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
      </div>
  
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  
</section>

<!-- carousel end  -->








<!-- 1st  image with text ---------------------        start -->
<div class="container">
  <div class="row align-items-center gx-3 gy-5 py-3 mt-2">
    <div class="col-12 col-md-12 col-lg-5">
      <img
        src="assets\photo\aaaa.jpg"
        class="img-fluid mx-auto d-block"
        alt="about us"
      />
    </div>

    <div class="col-12 col-md-12 text-center text-lg-start col-lg-7">
      <h2 class="fw-bold text-primary fs-2 pb-2">
        Before you proceed, learn about our Company
      </h2>
      <p class="about-text px-2"> 
        We have teams of dedicated and experienced Contact Center Specialists,
        Digital Marketers, Application Developers, e-Commerce Programmers,
        Graphic Designers and Skillful Trainers. Our expertise in various
        industry-related technologies helps us advise our clients on business
        strategies from initial strategy development right through to building
        and maintaining a successful and effective solution. We go the extra
        mile for our clients and associates.
      </p>


      <button
        class="btn btn-primary px-2 py-1 mt-2 fs-5 fw-normal"
        type="button"
      >
        Read More
      </button>
    </div>
  </div>
</div>
<!-- 1st image with text ---------------------        end -->































<!-- animated text and picture service  -->

<section class="mt-5">
  <div class="head-section">
  
    <header class="hero-section">
      <div class="container">
        <div class="row align-items-center py-3 g-5">
  
  
          <!-- text animation  -->
          <div class="col-12 col-md-6">
            <div class="text-center text-md-start">
              <h1 class="display-md-2 display-4 fs-1 fw-bold text-dark pb-2">
  
  
                  <!-- We offer <span class="text-primary text-animation"> Service </span> -->
  
                 <!-- <span class="align-content-center py-3"> </span> <br>
                 <span class="py-3">special services</span>  <br> -->
                 
                  
<div class="py-1">
  We offer 
</div>

<div class="py-1" style="font-style: italic; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
  special services
</div>

<div class="py-1">
  for Business
</div>

                  <br> 
                  <span class="text-primary text-animation"><span id="typed-text"></span></span>
  
             
            
            
            
            
            </h1>
  
              <p class="lead">
                Provide a full range of Outsourcing Services, IT / ITES
                Services, and Solutions to businesses and industry leaders, both
                large and small
              </p>
              <button
                class="btn btn-primary px-5 py-3 mt-3 fs-5 fw-medium"
                type="button"
                routerLink="/contact"
                routerLinkActive="active"
              >
                Contact Now
              </button>
            </div>
          </div>
  
  
  
  
  
  
  
  
          <!-- photo animation  -->
  
          <div class="col-12 col-md-6">
            <!-- 
            <img
              src="assets/hero.webp"
  
              class="img-fluid"
              alt="....."
              id="slideImg"
            /> -->
  
            <img
              [src]="currentImage"
              class="img-fluid"
              id="slideImg"
              alt="slideshow"
            />
          </div>
        </div>
      </div>
    </header>
  </div>
  </section>







<!-- 2nd  image with text ---------------------        start -->
<div class="container">
  <div class="row align-items-center gx-3 gy-5 py-3 mt-2">
    <div class="col-12 col-md-12 col-lg-5">
      <img
        src="assets\photo\aaaaa.jpg"
        class="img-fluid mx-auto d-block"
        alt="about us"
      />
    </div>

    <div class="col-12 col-md-12 text-center text-lg-start col-lg-7">
      <h2 class="fw-bold text-primary fs-2 pb-2">
        Why Outsourcing?
      </h2>
      <p class="about-text px-2">
        We have a wide range of in-house professionals for your functional
        outsourcing needs. Outsourcing your function can help you with the
        following things:
      </p>
      <br />
  
      
      <ul class="about-text px-5">
        <li>
          Working through professionals increases your productivity and
          business growth
        </li>
        <li>Supporting you for decision-making and strategic thinking</li>
        <li>No responsibility of recruiting your own staff</li>
        <li>Meeting deadlines for your tasks</li>
        <li>Minimizing departmental costs</li>
      </ul>


      <button
        class="btn btn-primary px-2 py-1 mt-2 fs-5 fw-normal"
        type="button"
      >
        Read More
      </button>
    </div>
  </div>
</div>
<!-- 2nd  image with text ---------------------        end -->









<!-- service start         2 column with 6 card -->
<!-- <section class="mt-2" >
  <div class="container-fluid service-bg">
    <div class="container">
      <div class="row py-5">
        <div class="col-8">
          <div style="align-items: center; text-align: center">
            <div class="row py-1">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                  <div class="icon">
                    <i class="fa-solid fa-headset"></i>
                  </div>
                  <h3 class="card-title">Contact Center Services</h3>
                  <p class="card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="icon">
                    <i class="fa-solid fa-briefcase"></i>
                  </div>
                  <h3 class="card-title">Back-Office Services</h3>
                  <p class="card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="icon">
                    <i class="fa-solid fa-audio-description"></i>
                  </div>
                  <h3 class="card-title">Digital Marketing</h3>
                  <p class="card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="icon">
                    <i class="fa-solid fa-paintbrush"></i>
                  </div>
                  <h3 class="card-title">Creative Design Services</h3>
                  <p class="card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="icon">
                    <i class="fa-brands fa-app-store-ios"></i>
                  </div>
                  <h3 class="card-title">Application Design & Development</h3>
                  <p class="card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="icon">
                    <i class="fa-solid fa-child-reaching"></i>
                  </div>
                  <h3 class="card-title">Skills Development</h3>
                  <p class="card-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-4">
          <div class="services-section">
            <p class="service-tagline">Services</p>
            <h1 class="service-title">What Service We Offer</h1>

            <p class="service-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
              tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo
            </p>
            <div
              class="service-btn"
              routerLink="/service"
              routerLinkActive="active"
            >
              <i class="fa-solid fa-arrow-right"></i>
              All Services
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- service end -->







<!-- ------------text formating with card  start--------  -->
<!-- <section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="image-container">
          <img src="assets\photo\aa.jpg" alt="Experience" class="ex-img" />
          <button
            class="play-btn"
            routerLink="/video"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-circle-play"></i>
            Play Video
          </button>
        </div>
      </div>

      <div class="col-6 ex-text">
        <h1 class="ex-h1">Before you proceed, learn about our company</h1>

        <p class="ex-p">
          We have teams of dedicated and experienced Contact Center Specialists,
          Digital Marketers, Application Developers, e-Commerce Programmers,
          Graphic Designers and Skillful Trainers. Our expertise in various
          industry-related technologies helps us advise our clients on business
          strategies from initial strategy development right through to building
          and maintaining a successful and effective solution. We go the extra
          mile for our clients and associates.
        </p>
      </div>
    </div>
  </div>


  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="image-container-two">
          <img src="assets\photo\2nd.jpg" alt="Experience" class="two-img" />
        

        <div class="overlay-text">
          <h1>Why Outsourcing?</h1>
          <p>
            We have a wide range of in-house professionals for your functional
            outsourcing needs. Outsourcing your function can help you with the
            following things:
          </p>
          <br />

          
          <ul>
            <li>
              Working through professionals increases your productivity and
              business growth
            </li>
            <li>Supporting you for decision-making and strategic thinking</li>
            <li>No responsibility of recruiting your own staff</li>
            <li>Meeting deadlines for your tasks</li>
            <li>Minimizing departmental costs</li>
          </ul>
        </div>
      </div>


      </div>
    </div>
  </div>





</section> -->
<!-- ------------text formating with card  end--------  -->


















<!-- video  -->
<section class="py-5">
  <div class="container-video">
    <h1
      style="font-size: xx-large"
      class="video-text"
      routerLink="/video"
      routerLinkActive="active"
    >
      Video
    </h1>
  </div>
</section>

















<!-- member of start -->
<br /><br />
<section >

  <div class="container   py-1 ">
    <h2 class="font-bold">Our Partners</h2>
    <hr class="border-t border-gray-300 w-full" />
  </div>

  <div class="container" >


    <div class="row  justify-content-center px-3 pb-5" >


      <div class="col d-flex justify-content-center img-animation">
        <a href="https://fbcci.org/">
          <img src="assets\photo\member\FBCCI.png" alt="FBCCI" />
        </a>
      </div>


      <div class="col d-flex justify-content-center img-animation">
        <a href="https://gbacallcenter.com/">
          <img src="assets\photo\member\GBA.jpg" alt="GBA" />
        </a>
      </div>

      <div class="col d-flex justify-content-center img-animation">
        <a href="https://www.bacco.org.bd/">
          <img src="assets\photo\member\BACCO.png" alt="BACCO" />
        </a>
      </div>



    </div>
  </div>
</section>




<!-- our memeber -->

<section>
  <div class="container  py-1">
    <h2 class="font-bold">Our Clients</h2>
    <hr class="border-t border-gray-300 w-full" />
  </div>


  

<div class="container">


    <div class="custom-row  px-2 pb-3">
      <div class="img-animation col-sm-2">
        <img
          src="assets\photo\member\Bangladesh-Govt-4.png"
          alt="Bangladesh-Govt"
        />
      </div>

      <div class="img-animation col-sm-2">
        <img src="assets\photo\member\FBCCI.png" alt="FBCCI" />
      </div>

      <div class="img-animation col-sm-2">
        <img src="assets\photo\member\ICT-Division.png" alt="ICT-Division" />
      </div>

      <div class="img-animation col-sm-2">
        <img src="assets\photo\member\Adlers.png" alt="Adlers" />
      </div>

      <div class="img-animation col-sm-2">
        <img src="assets\photo\member\Akash-80x80.png" alt="Akash" />
      </div>

      <div class="img-animation col-sm-2">
        <img src="assets\photo\member\AKG.png" alt="AKG" />
      </div>
    </div>




    <div class="custom-row  px-2 pb-3 ">
      <div class="img-animation col-sm-2">
        <img src="assets\photo\member\Akij-Group.png" alt="AKG" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\BACCO.png" alt="BACCO" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\BD-Cham.png" alt="BD-Cham" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Bryer-Sheltz.png" alt="Bryer-Sheltz" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\BSCIC-1.png" alt="BSCIC" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\BT.png" alt="BT" />
      </div>
    </div>




    <div class="custom-row  px-2 pb-3 ">
      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\BTEB-1.png" alt="BTEB" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\CNC-Data.png" alt="CNC" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Digicon.png" alt="Digicon" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\DPDC.png" alt="DPDC" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Fair-Mart-80x80.png" alt="Fair-Mart" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\GBA.jpg" alt="GBA" />
      </div>
    </div>


    <div class="custom-row  px-2 pb-3 ">
      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\IFC.png" alt="IFC" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Jaamil-Group.png" alt="Jaamil" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Logitech.png" alt="Logitech" />
      </div>

      <div class="col-sm-2 img-animation">
        <img
          src="assets\photo\member\Market-Express.png"
          alt="Market-Express"
        />
      </div>

      <div class="col-sm-2 img-animation">
        <img
          src="assets\photo\member\My-Outsourcing-.png"
          alt="My-Outsourcing"
        />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Nogod-1.jpg" alt="Nogod" />
      </div>
    </div>


    <div class="custom-row  px-2 pb-3 ">
      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Oceania.png" alt="Oceania" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Payoneer-80x80.png" alt="Payoneer" />
      </div>

      <div class="col-sm-2 img-animation">
        <img
          src="assets\photo\member\Plan-International.png"
          alt="Plan-International"
        />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Robi.png" alt="Robi" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Samsung.png" alt="Samsung" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\SEIP.png" alt="SEIP" />
      </div>
    </div>


    <div class="custom-row  px-2 pb-3 ">
      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\She-Power.png" alt="She-Power" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Sure-Cash.png" alt="Sure-Cash" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Symphony.jpg" alt="Symphony" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\a2ziT.png" alt="a2ziT" />
      </div>

      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\WIndmill.png" alt="WIndmill" />
      </div>
      <div class="col-sm-2 img-animation">
        <img src="assets\photo\member\Hi-Tech-Park.png" alt="WIndmill" />
      </div>
      
    </div>



  </div>
</section>
<!-- member of end  -->











