





<div class="list-container">
  <h2 class="list-title">All GlobalBPOs</h2>
  
  <ul class="bpo-list">
    <li *ngFor="let bpo of globalBPOs">
      <h3>{{ bpo.title }} ({{ bpo.postDate }})</h3>
      <p><strong>Subtitle:</strong> {{ bpo.subtitle }}</p>
      <p><strong>Details:</strong> {{ bpo.details }}</p>

      <button (click)="deleteBPO(bpo.id)" class="delete-btn">Delete</button>
    </li>
  </ul>
</div>








<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>s














