<!-- Bread Curmbs  -->
<section>
    <div class="row py-5 bgCrumb" style="text-align: center; align-items: center">
        <h1 style="font-size: xx-large;">Towhid Hossain</h1>
        <ul class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li> <a href="/team">Team</a></li>
            <li>Towhid Hossain</li>
        </ul>
    </div>


</section>



<!-- content  -->
<section>

<div class="bg">

    <div class="row "></div>

    <div class="container py-5 ">

        <div class="card row-cols-1">

            <div class="center-image">
                <img class="card-img-top" src="assets\photo\team\Towhid-Bhai.jpg" alt="Title" />

            </div>




            <div class="card-body p-5 container" style="background-color: rgb(249, 249, 249);  border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

                <div style="font-family: Arial, sans-serif; ">
                    
                    <h2 style="font-size:3vw; text-align: center;">Towhid Hossain</h2>
                    <h2 style="text-align: center; color: grey;">
                        Managing Director & CEO

                    </h2>
                    <br><br>



                    <div style="font-size:1vw">

                        <p>
                            Since 2004, <strong>FIFOTech</strong> has been offering <strong>Information Technology Services</strong>, <strong>Business Process Outsourcing (BPO) Solutions</strong>, <strong>Supply Chain Management</strong>, <strong>Consultancy Services</strong>, <strong>Financial Accounting Services</strong>, and <strong>Social Media Marketing</strong>. Leveraging our industry expertise and global offshore presence, we ensure the delivery of high-quality, low-cost BPO solutions to our clients, maximizing value and efficiency.
                        </p>
                        
                        <p>
                            <strong>Towhid Hossain</strong>, the Managing Director and CEO, embarked on a remarkable journey that shaped his career in the ITES/BPO/Telco sector. He possesses extensive and diverse experience, having worked for renowned multinational companies such as <strong>GrameenPhone</strong>, <strong>WorldTel</strong>, and <strong>Noor-Bangla</strong>, among many other prestigious firms. His expertise also extends to the Contact Center Industry in Bangladesh, where he has held direct roles in companies like <strong>FIFOTech</strong>, <strong>Eva Telecommunications</strong>, <strong>A2Z BPO</strong>, and <strong>Virgo Contact Center Services Ltd.</strong>
                        </p>
                        
                        <p>
                            Due to his unparalleled contributions to the BPO industry, Towhid Hossain has served in several key positions within the <strong>Bangladesh Association of Call Center and Outsourcing (BACCO)</strong>. He held the position of <strong>Finance Secretary</strong> (2013-2015), <strong>Secretary General</strong> (2015-2017), and is currently serving in the same role (2017-2019). <a href="http://bacco.org.bd/current-ec-committee" target="_blank">Ref: BACCO Committee</a>
                        </p>
                        
                        <p>
                            With experience managing over 7,000 people across various ventures, Towhid has also become a renowned motivational speaker. He has delivered more than 500 sessions at major private and public educational institutions, focusing on <strong>Employment</strong>, <strong>Career Development</strong>, and <strong>Communication</strong>.
                        </p>
                        
                        <p>
                            He is widely recognized as a pioneer of <strong>Women Empowerment</strong> in Bangladesh. His contributions include leading the <strong>National Hackathon for Women</strong> and serving as an <strong>Advisor for Girls in ICT</strong>.
                        </p>
                        
                        <p>
                            Towhid Hossain is actively involved in both public and private sector projects. He has worked with the <strong>Bangladesh Technical Education Board (BTEB)</strong> and the <strong>International Labor Organization (ILO)</strong> on skills development and training programs, serving as a panelist for the ICT sector. He also plays a significant role as <strong>Treasurer in the Industries Skills Council (ISC), ICT</strong> under the <strong>National Skills Development Council (NSDC)</strong>. 
                            <a href="http://www.nsdc.gov.bd/en/ict-sector-isc/" target="_blank">Ref: NSDC</a>
                        </p>
                        
                        <p>
                            He is currently engaged with various government organizations on multiple projects involving the <strong>ICT Ministry</strong>, <strong>ADB</strong>, <strong>World Bank</strong>, <strong>a2i</strong>, <strong>Ministry of Education</strong>, <strong>Home Ministry</strong>, and <strong>Ministry of Finance</strong>.
                        </p>
                        
                        <p>
                            In addition to his corporate roles, Towhid Hossain is the <strong>Founder Director & Organizing Secretary</strong> of <strong>Serve Bangladesh Society</strong> (an NGO involved in the education sector), and the <strong>Director of Communication</strong> for the <strong>Human Rights Monitoring Organization (HRMO)</strong>. He also serves as an executive member of the <strong>Bangladesh Alliance for Fair Competition (BAFCOM)</strong>.
                        </p>
                        
                        <p>
                            Furthermore, Towhid is an active member of the <strong>Federation of Bangladesh Chambers of Commerce & Industries (FBCCI)</strong>, serving on various committees as co-chairman and member. He has made key contributions to the e-commerce industry in Bangladesh and currently holds the position of <strong>Chairman</strong> of the <strong>Service Delivery Committee</strong> for <strong>e-CAB</strong>.
                            <a href="http://www.fbcci-bd.org/gb-members" target="_blank">Ref: FBCCI Members</a>
                        </p>
                        
                    
                      


                    </div>





                </div>



            </div>
        </div>


    </div>



</div>


</section>