




 <!-- Header Section -->
<div style="padding: 1%"></div>

<h1>
  <div
    style="
      padding: 3%;
      text-align: center;
      position: static;
      background-color: rgb(128, 241, 221);
      color: #333;
    "
  >
    Check your List
  </div>
</h1>

<div class="container">
  <div class="row justify-content-center">
    <!-- Card 1: Contact List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/client-contact-list'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-address-book fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">Contact List</h5>
        </div>
      </div>
    </div>

    <!-- Card 2: Applicant List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/admin/ApplicantList'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-user fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">Applicant List</h5>
        </div>
      </div>
    </div>

    <!-- Card 3: News List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/admin/newsList'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-newspaper fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">News List</h5>
        </div>
      </div>
    </div>

    <!-- Card 4: Career List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/admin/careerList'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-briefcase fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">Career List</h5>
        </div>
      </div>
    </div>

    <!-- Card 5: Service List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/admin/serviceList'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-cogs fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">Service List</h5>
        </div>
      </div>
    </div>

    <!-- Card 6: Photo List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/admin/galleryList'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-image fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">Gallery List</h5>
        </div>
      </div>
    </div>

    <!-- Card 7: Video List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/admin/videoList'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-video fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">Video List</h5>
        </div>
      </div>
    </div>

    <!-- Card 8: Team List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/admin/teamList'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-users fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">Team List</h5>
        </div>
      </div>
    </div>

    <!-- Card 9: Global BPO List -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card text-center card-hover" onclick="location.href='/admin/globalBpoList'">
        <div class="card-body">
          <div class="icon-container">
            <i class="fa fa-list fa-2x list-icon"></i>
            <i class="fa fa-globe fa-3x large-icon"></i>
          </div>
          <h5 class="card-title">Global BPO List</h5>
        </div>
      </div>
    </div>
  </div>
</div>
