<div style="padding: 1%"></div>

<h1>
  <div
    style="
      padding: 3%;
      text-align: center;
      position: static;
      background-color: rgb(128, 241, 221);
    "
  >
    Check your List: to do Update & Delete
  </div>
</h1>

<div class="container">
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="30">
    <!--  icon dhik korte hobe: middle;         -->

    
      <mat-grid-tile
        ><button
          mat-icon-button
          color="warn"
          routerLink="/client-contact-list"
          routerLinkActive="active"
        >
          <div><mat-icon>list</mat-icon></div>
          <div>Contact List</div>
        </button></mat-grid-tile >







        <mat-grid-tile
        ><button
          mat-icon-button
          color="warn"
          routerLink="/admin/ApplicantList"
          routerLinkActive="active"
        >
          <div><mat-icon>list</mat-icon></div>
          <div>Applicant List</div>
        </button></mat-grid-tile
      >
    


      <mat-grid-tile>
      <button
        mat-icon-button
        color="warn"
        routerLink="/admin/newsList"
        routerLinkActive="active"
      >
        <div><mat-icon>list</mat-icon></div>
        <div>News List</div>
      </button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button
        mat-icon-button
        color="warn"
        routerLink="/admin/careerList"
        routerLinkActive="active"
      >
        <div><mat-icon>list</mat-icon></div>
        <div>Carrer List</div>
      </button>
      </mat-grid-tile>




    <mat-grid-tile>
      <button
        mat-icon-button
        color="warn"
        routerLink="/admin/serviceList"
        routerLinkActive="active"
      >
        <div><mat-icon>list</mat-icon></div>
        <div>Service List</div>
      </button>
    </mat-grid-tile>

    <mat-grid-tile
      ><button
        mat-icon-button
        color="warn"
        routerLink="/admin/galleryList"
        routerLinkActive="active"
      >
        <div><mat-icon>list</mat-icon></div>
        <div>Photo List</div>
      </button></mat-grid-tile
    >

    <mat-grid-tile
      ><button
        mat-icon-button
        color="warn"
        routerLink="/admin/videoList"
        routerLinkActive="active"
      >
        <div><mat-icon>list</mat-icon></div>
        <div>Video List</div>
      </button></mat-grid-tile
    >

    <mat-grid-tile
      ><button
        mat-icon-button
        color="warn"
        routerLink="/admin/teamList"
        routerLinkActive="active"
      >
        <div><mat-icon>list</mat-icon></div>
        <div>Team List</div>
      </button></mat-grid-tile
    >

    <mat-grid-tile
      ><button
        mat-icon-button
        color="warn"
        routerLink="/admin/globalBpoList"
        routerLinkActive="active"
      >
        <div><mat-icon>list</mat-icon></div>
        <div>GlobalBPO List</div>
      </button></mat-grid-tile
    >
  </mat-grid-list>
</div>

<div class="container pt-5">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, deserunt
  pariatur iste quo culpa sunt soluta ab, nostrum cumque recusandae omnis optio
  sapiente, error numquam vitae quisquam repudiandae corporis aspernatur.
</div>
